{% extends 'base.html' %}

{% block title %}Lista de Tareas{% endblock %}

{% block content %}
<h1 class="mb-4">Listado de Tareas</h1>
<a href="{% url 'create_task' %}" class="btn btn-success mb-3">Crear Nueva Tarea</a>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
            <th>Verificar Firma</th>
            <th>Descargar</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>
                {% if task.is_approved %}
                    <span class="badge bg-success">Aprobada</span>
                {% elif task.is_rejected %}
                    <span class="badge bg-danger">Rechazada</span>
                {% else %}
                    <span class="badge bg-warning">Pendiente</span>
                {% endif %}
            </td>
            <td>
                {% if not task.is_approved %}
                <a href="{% url 'approve_task' task.id %}" class="btn btn-primary btn-sm">Aprobar</a>
                {% endif %}

                {% if not task.is_rejected and not task.is_approved %}
                <a href="{% url 'reject_task' task.id %}" class="btn btn-sm btn-danger">
                    Rechazar
                </a>
                {% endif %}
            </td>
            <td>
                {% if task.is_approved %}
                    <a href="{% url 'verify_task_signature' task.id %}" class="btn btn-sm btn-info">
                        Verificar Firma
                    </a>
                {% endif %}
            </td>  
            <td>
                {% if task.is_approved %}
                    <a href="{% url 'download_task_pdf' task.id %}" class="btn btn-sm btn-secondary">
                        Descargar PDF
                    </a>
                {% endif %}
            </td>        
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
        
