{% extends 'base.html' %}

{% block title %}Lista de Tareas{% endblock %}

{% block content %}
        <h2>Verificar Documento Firmado</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="document_file" class="form-label">Selecciona un documento firmado</label>
                <input type="file" class="form-control" id="document_file" name="document_file" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Verificar</button>
        </form>
        {% if messages %}
            <div class="mt-3">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
    
