
{% extends 'base.html' %}

{% block title %}Lista de Tareas{% endblock %}

{% block content %}
           <h1 class="text-center">Documentos Firmados</h1>
        {% if signed_documents %}
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>Nombre del Documento</th>
                        <th>Fecha de Firma</th>
                        <th>Descargar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in signed_documents %}
                    <tr>
                        <td>{{ document.document_name }}</td>
                        <td>{{ document.timestamp }}</td>
                        <td>
                            <a href="{% url 'download_signed_document' document.id %}" class="btn btn-primary">Descargar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center">No tienes documentos firmados.</p>
        {% endif %}
{% endblock %}
